<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/profile">Autos</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/profile">Home</a></li>
            <li><a th:if="${role} == 'ROLE_DEALER'" href="/search/orders">Search Orders</a></li>
            <li><a th:if="${role} == 'ROLE_DEALER'" href="/search/dealers">Search Dealers</a></li>
            <li><a th:if="${role} == 'ROLE_DEALER'" href="/search/clients">Search Clients</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        </ul>
    </div>
</nav>

<hr>
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-sm-10">
            <h1>Dealer</h1></div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->

            <ul class="list-group">
                <li class="list-group-item text-muted">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>First name</strong></span> <span th:text="${dealer.firstName}"></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Patronymic</strong></span> <span  th:text="${dealer.patronymic}"></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Last name</strong></span> <span th:text="${dealer.lastName}"></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> <span th:text="${dealer.email}"></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span> <span th:text="${dealer.phone}"></span></li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted">Orders statistic <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Completed orders</strong></span><span th:text="${dealer.completedOrders}"></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Entered orders</strong></span><span th:text="${dealer.enteredOrders}"></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Cancelled orders</strong></span><span th:text="${dealer.cancelledOrders}"></span></li>
            </ul>

        </div>
        <!--/col-3-->
        <div class="col-sm-9">

            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#home" data-toggle="tab">Orders</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="table-responsive table-back">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Auto</th>
                                <th>Client</th>
                                <th>Date start</th>
                                <th>Date end</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Dealer's percent</th>
                                <th>Final price</th>
                            </tr>
                            </thead>
                            <tbody id="items">
                            <tr th:each="order, state: ${dealer.orders}">
                                <td>
                                    <a th:href="@{/orders/} + ${order.id}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                                            <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </a>
                                </td>
                                <td th:text="${state.count}">1</td>
                                <td th:text="${order.auto}">Tayota Mark 2</td>
                                <td><a th:text="${order.client}" th:href="@{/clients/} + ${order.clientId}"></a></td>
                                <td th:text="${order.dateStart}">09.12.2020</td>
                                <td th:text="${order.dateEnd}"></td>
                                <td th:text="${order.status}">Entering</td>
                                <td th:text="${order.price}">200000</td>
                                <td th:text="${order.percent}"></td>
                                <td th:text="${order.finalPrice}"></td>
                                </a>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
                    <!--/table-resp-->
                    <hr>
                </div>
            </div>
            <!--/tab-pane-->
        </div>
        <!--/tab-content-->

    </div>
    <!--/col-9-->
</div>
<!--/row-->
</div>
</body>
</html>