.container my-3 {
    margin: auto;
}

body {
    background-image: url("../img/site-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table-back {
    background-color: #ffffff !important;
    padding: 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.tab-pane {
    background-color: #ffffff !important;
}

.container {
    width: 80%;
}

.btn100 {
    width: 100%;
}

.comment{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    border-bottom-style: dashed;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.head{
    margin-bottom: 10px;
}

.user{
    margin-right: 10px;
}

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
}

#checkboxes label {
    display: block;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}